<template>
  <div>
    <div class="form-group">
      <label>User</label>
      <input type="text" class="form-control" autofocus name="user_input" id="user_input" v-model="user" />
      <label>Password</label>
      <input type="password" class="form-control" name="password_input" id="password_input" v-model="password" />
      <label>2FA code</label>
      <input type="text" class="form-control" name="2fa_code_input" id="2fa_code_input" v-model="code2fa" />
      <label>Certificate password</label>
      <input type="text" class="form-control" name="certificate_password_input" id="certificate_password_input" v-model="certificatePassword" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" value="Connect" @click="connect" 
        :disabled="connectButtonState == 'Connecting'">{{connectButtonState}}</button>
      <button class="btn btn-secondary" value="Exit" @click="exit">Exit</button>
    </div>
    <div class="form-group output" v-html="output">
    </div>
  </div>
</template>

<script>
import child_process from 'child_process';
import { setTimeout } from 'timers';
import fs from 'fs';
import net from 'net';
import { SIGTERM } from 'constants';
import { homedir } from 'os';

const ConfigDir = homedir() + '/.openvpn-electron-client';
const ConfigFile = ConfigDir + '/credentials.txt';
const OpenVpnConfigFile = ConfigDir + '/client.ovpn';
const PidFile = '/var/run/openvpn.pid';
const SockFile = '/tmp/openvpn-mgt.sock';
const ButtonStates = {
  Connect: 'Connect',
  Connecting: 'Connecting',
  Disconnect: 'Disconnect'
};

export default {
  name: 'main',
  data () {
    return {
      text: '',
      user: '',
      password: '',
      code2fa: '',
      certificatePassword: '',
      output: '',
      connectButtonState: 'Connect',
      currentProc: null,
      tcpClient: null,
    };
  },
  mounted () {
    if (!fs.existsSync(ConfigDir)) {
      fs.mkdirSync(ConfigDir);
    }

    console.log('Reading config file.');
    if (!fs.existsSync(ConfigFile)) {
      return;
    }
    let fileContent = fs.readFileSync(ConfigFile, {encoding: 'utf-8'});
    let parts = fileContent.split('\n');
    this.user = parts[0];
    this.password = parts[1];
  },
  methods: {
    exit () {
      window.close();
    },

    saveFile() {
      console.log('Saving credencials.');
      fs.writeFileSync(ConfigFile, `${this.user}\n${this.password}`);
    },

    killOpenVPN() {
      try {
        this.currentProc.kill();
        if (!fs.existsSync(PidFile)) return;
        var openvpnProcId = fs.readFileSync(PidFile).toString('utf-8');
        process.kill(openvpnProcId);
      }
      catch (e) {
        console.log(e);
      }
    },

    disconnect() {
      if (this.tcpClient)
        this.tcpClient.end();
      this.killOpenVPN();
      this.connectButtonState = ButtonStates.Connect;
    },

    handleOpenVpnProcess() {
      var obj = this;
      var client = net.connect({path: SockFile});
      obj.tcpClient = client;
      client.on('data', function(data) {
        console.log(data.toString());

        // Request for certificate Password
        if (data.toString().indexOf(">PASSWORD:Need 'Private Key'") !== -1) {
            client.write('password "Private Key" ' + this.certificatePassword + '\n');
        }

        // Request for user/password
        if (data.toString().indexOf(">PASSWORD:Need 'Auth' username/password") !== -1) {
            var username = obj.user;
            var password = obj.password;
            var hasStaticChallenge = data.toString().indexOf("SC:1") > -1;
            if (hasStaticChallenge) {
                var code = obj.code2fa;
                code = Buffer.from(code).toString('base64');
                password = "SCRV1:" + Buffer.from(password).toString('base64') + ":" + code;
            }
            console.log('');
            client.write('username "Auth" ' + username + '\n');
            client.write('password "Auth" ' + password + '\n');
        }
        
        // Succesfully connected
        if (data.toString().indexOf('>UPDOWN:UP') !== -1) {
          obj.connectButtonState = ButtonStates.Disconnect;
        }

        // Error
        if (data.toString().indexOf('ERROR: ') !== -1) {
          client.end();
          obj.disconnect();
        }
      });

      client.on('error', function() {
        obj.disconnect();
      });
    },

    connect () {
      var obj = this;
      
      if (this.connectButtonState == ButtonStates.Disconnect) {
        this.disconnect();
        return;
      }
      this.saveFile();
      if (this.currentProc) {
        this.disconnect();
      }

      obj.connectButtonState = ButtonStates.Connecting;
      
      var cmd = 'openvpn' +
        ' --management ' + SockFile + ' unix'+
        ' --config "' + OpenVpnConfigFile + '"' +
        ' --management-up-down' +
        ' --management-query-passwords' +
        ' --writepid ' + PidFile;
      this.currentProc = child_process.exec(cmd, (error, stdout, stderr) => {
        obj.disconnect();
        if (error) {
          console.log(error);
        }
      });
      let maxAttempts = 5;
      let currentAttempt = 1;
      setTimeout(function() {
        try {
          obj.handleOpenVpnProcess();
        }
        catch (e) {
          console.log(e);
          currentAttempt++;
          if (currentAttempt > maxAttempts) {
            obj.disconnect();
            return;
          }
          setTimeout(this, 1000);
        }
      }, 1000);
    }
  }
}
</script>
